:root {
    --color1: #DAF7A6;
    --color2: #FFC300;
    --color3: #FF5733;
    --color4: #C70039;
    --color5: #900C3F;
    --color6: #581845;

    --ssm: 10px;
    --sm: 16px;
    --md: 24px;
    --mmd: 32px;
    --lg: 40px;
    --xl: 48px;
    --xxl: 56px;
}

body {
    margin: 0;
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'League Spartan', sans-serif;
}

/* Aqui empiezan los estilos del primer header */

.menu-mobile {
    display: none;
}

.menu-mobile,
.logo,
.carrito {
    height: 32px;
    cursor: pointer;
}

.logo {
    margin-left: 40px;
}

.carrito {
    margin-right: 40px;
}

.first-nav {
    display: flex;
    justify-content: space-between; /* así separamos la parte left de la right*/
    align-items: center;
    padding: 0 24px; /* cero up and botton and 24 by side */
    border-bottom: 1px solid var(--color6);
}

.navbar-left-container {
    display: flex;
    align-items: center; /* este no esta en la clase del curso*/

}

.navbar-left-container ul {
    margin-left: 12px;
}

.navbar-left-container ul,
.navbar-right-container ul {
    list-style: none;
    padding: 0;
    margin-left: 12px;
    height: 60px;
    display: flex;
    align-items: center;
}

.navbar-left-container ul li,
.navbar-right-container ul li {
    margin-left: 24px;
}

.navbar-left-container ul li a,
.navbar-right-container ul li a {
    text-decoration: none;
    color: var(--color2);
    border: 1px solid white;
    padding: 8px;
    border-radius: 8px;
}

.navbar-left-container ul li a:hover,
.navbar-right-container ul li a:hover {
    border: 1px solid var(--color1);
    color: var(--color1);
}

.navbar-email {
    color: var(--color1);
    font-size: var(--sm);
    margin-right: 12px;
    cursor: pointer;
}

@media (max-width: 640px) {
    .menu-mobile {
        display: block;
        align-items: center;
    }
    .navbar-left-container ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
}

/* Aca empiezan los estilos del segundo navbar*/

.second-header {
    margin-top: 100px;
    background-color: aqua;
}

.second-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.menu-mobile-2 {
    display: none;
    margin-left: 20px;
}

.menu-mobile-2,
.logo-2,
.carrito-2 {
    height: 32px;
    cursor: pointer;
}

.logo-2 {
    margin-left: 40px;
}

.carrito-2  {
    margin-right: 40px;
}

.navbar-left-container-2 {
    display: flex;
    align-items: center;
}

.navbar-left-container-2 ul,
.navbar-right-container-2 ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-left-container-2 ul li a { 
    text-decoration: none;
    color: #FF5733;
    margin: 20px;
    padding: 30px;
}

.navbar-left-container-2 ul li a:hover {
    background-color: white;
}

.navbar-right-container-2 ul li {
    cursor: pointer;
}

.navbar-email-2 {
    margin-right: 40px;
    color: var(--color3);
}

@media (max-width: 640px) {
    .navbar-left-container-2 ul {
        display: none;
    }
    .navbar-email-2 {
        display: none;
    }
    .menu-mobile-2 {
        display: block;
    }
}


/* Aca empiezan los estilos del tercer navbar*/

.third-nav {
    margin-top: 200px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color5);
}

.logo-empresa {
    margin-left: 64px;
}

.navbar-right-container-3 ul {
    list-style: none;
    display: flex;
    margin-right: 32px;
}

.navbar-right-container-3 ul li {
    margin-left: 20px;
}

.navbar-right-container-3 ul li a {
    text-decoration: none;
}